	<%= form_for([micropost,micropost.comments.build],remote:true,html: {class: 'comment-form'}) do |f| %>
		<div class="input-group">
		
		<%= f.text_field :content ,class: "form-control", id: "new_comment_on_#{micropost.id}" %>
		<span class="input-group-btn">
		<%= f.submit 'Comment',class: "bg-primary btn "  %></span>
	</div>
	<% end %>